@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentiyEntiyframework.Models.Applicationuser> signInManager
@inject UserManager<IdentiyEntiyframework.Models.Applicationuser> userManager


<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello @userManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
           <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
               <button type="submit" class="btn nav-link">Logout</button>
           </form>
        </li>
        
    }
   
    else{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    }
</ul>